body {
  background: #fdfdfd; 
}
img {
	max-width: 100%;
}
.form-container {
  width: 460px;
  margin: 10px auto;
}

.invalid-feedback {
  display: block; 
}
.steps-list{
	margin: 0;
	padding: 10px 40px;
	display: flex;
	justify-content: space-between;
}
.steps-list__item{
	list-style: none;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	width: 25%;
}
.steps-list__item:before{
	content: '1';
	height: 30px;
	width: 30px;
	display: block;
	border-radius: 50%;
	border: 3px solid orange;
	background-color: orange;
	color: white;
	text-align: center;
	position: relative;
	z-index: 2;
}
.steps-list__item:nth-child(2):before{
	content: '2';
}
.steps-list__item:nth-child(3):before{
	content: '3';
}
.steps-list__item:nth-child(4):before{
	content: '4';
}
.steps-list__item:after{
	content: '';
	height: 3px;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 15px;
	background-color: orange;
}
.steps-list__item:last-child:after{
	display: none;
}
.steps-list__item.active:before{
	border: 3px solid orange;
	background-color: lightblue;
}
.steps-list__item.active:after{
	background-color: lightgrey;
}
.steps-list__item.active ~ .steps-list__item:before{
	border: 3px solid white;
	background-color: lightgrey;
}
.steps-list__item.active ~ .steps-list__item:after{
	background-color: lightgrey;
}
.steps-list__item.visited:before{
	border: 3px solid orange;
	background-color: orange;
}
.hidden{
	display: none;
}

.avatar img{
	width: 100%;
}